* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
    font-family: "SF Pro Display";  
}
body{
    background-color: royalblue;
}
label{
    color: white;
    font-size: 90px;
    text-align: center;
    margin: 50px 0 150px 0 ;
    margin: 0 auto;
    display: block;
}
button{
    width: 200px;
    height: 200px;
    color: royalblue;
    border: none;
    border-radius: 30px;
    font-size: 60px;
    font-weight: 900;
    margin: 50px;
    cursor: pointer;
}
.qwery{
    width: fit-content;
    margin:  0 auto;
}